 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("c461c07a441a5d220e8feb1a/2623c3b39a2a545eaabf1720/jtjtjtjuy-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 870px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 524px 570px 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 247px;
  margin: -178px -467px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 197px;
  grid-gap: 30px 30px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,44,51,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 577px 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 499px;
    margin-right: 537px;
  }

  .u-section-1 .u-list-1 {
    width: 489px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 377px;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 300px;
    margin-right: 231px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 83px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-1 .u-text-2 {
    margin-top: -261px;
    margin-right: 157px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 51px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 136px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 247px;
    margin-top: 64px;
    margin-right: -467px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-text-2 {
    margin-top: -242px;
  }
}